{%load static%}
<footer>
    <div id = "Redes-sociales">
        <div>
            <a href = "#">
                <label for="instagram">Instagram</label>
                <img src ="{%static 'image/instagram.png'%}" alt = "logo Instagram" nama= "instagram">
            </a>
        </div>
        <div>
            <a href = "#">
                <label for="facebook">Facebook</label>
                <img src ="{%static 'image/facebook.png'%}" alt = "logo Facebook" nama= "facebook">
            </a>
        </div>
        <div>
            <a href = "#####">
                <label for="x">X</label>
                <img src ="{%static 'image/gorjeo.png'%}" alt = "logo x" nama= "x">
            </a>
        </div>
    </div>
    <div id="Desarrolladores">
        <h5>Email Suppot</h5>
        <h5>EjemploEmail@gmail.com<a></a></h5>
        <h5>developed by group 6, in 2024.</h5>
    </div>
    <div id="logo-desarrolladores">
        <!--aqui se colocara una imagen de los desarrolladores-->
        <img src = "{%static 'image/gorjeo.png'%}" alt = "Equipo de desarrolladores">
    </div>
</footer>